.cabecalho {
    background-color: rgba(0, 119, 255, 0.877);
}

.titulos {
    font-family: Tahoma, Verdana, sans-serif;
    text-align: center;
}

.links {
    font-weight: bold;
}

.container {
    margin: 20px;
}

.conteudo {
    line-height: 1.5;
}

.contato {
    border: 1px solid ;
    background-color: gray;
    padding: 10px;
}

.texto {
    color: green;
}

.botao {
    background-color: blue;
    color: white;
}